@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&');

* {
    margin: 0;
    padding: 0;
}

body {
    background: #efefef;

}

header {
    width: 100%;
    height: 48px;
    background: #ffff;
    display: flex;
    align-items: center;
}

header nav {
    width: 100%;
    padding: 0px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav h4 {
    align-items: center;
    gap: 10px;
    display: flex;
    color: blue;
}

header nav div a {
    align-items: center;
    display: flex;
    color: blue;
    gap: 10px;
    padding: 16px;
}

header nav div {
    align-items: center;
    display: flex;
    gap: 10px;

}

#user-profile {
    background-color: blue;
    width: 40px;
    border-radius: 100%;
    height: 40px;
    justify-content: center;
    display: flex;
    align-items: center;

}

main {
    padding: 24px;
}

main section {
    margin: 24px 0px;
}

/* today style  */
.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
    display: flex;

}

.btn {
    padding: 16px 16px;
    border-radius: 5px;
    border: none;
}

.btn-blue {
    background-color: blue;
}

.btn-orange {
    background-color: orangered;
}

.btn-green {
    background-color: green;
}

.btn-teal {
    background-color: teal;
}


.card1 {
    background: white;
    border: 30px;
    padding: 10px 8px;
    /* display: flex; */
    /* justify-content: space-between; */

}

#icon-container1 {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 255, 0.411);

}

#icon-container2 {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 128, 128, 0.411);
}

#icon-container3 {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 128, 0, 0.411);
}

#icon-container4 {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 166, 0, 0.411);
}

#icon-container5 {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 0, 0.459);
}

#icon-container6 {
    width: 60px;
    height: 60px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 192, 203, 0.664);
}

/* section.flex {
    background: white;
    border: 30px;
    padding: 10px 8px;
    display: flex;

} */
.flex-card {

    justify-content: space-between;
    /* align-items: center; */
    /* margin-top: 10px; */
    display: flex;
    margin: 24px 16px;

}

.flex-col {
    flex-direction: column;
    align-items: center;
    text-align: center;

}

.text {
    margin-top: 10px;
}

.card2 {
    background: white;
    border: 16px;
    border-radius: 8px;
    padding: 10px 8px;
    margin-top: 50px;
    /* display: flex; */
    /* justify-content: space-between; */

}

table {
    width: 100%;
    padding: 8px 24px;
    /* margin: 8px 24px; */
    border-collapse: collapse;

}

.btn2 {
    /* padding: 10px 5px;
    margin: 5px 5px; */
    background-color: pink;
    padding: 3px 15px;
    border-radius: 15px;
    border: none;
    justify-content: center;
    align-items: center;
    margin-left: 30px;

}

.btn3 {
    background-color: aqua;
    padding: 3px 15px;
    border-radius: 15px;
    border: none;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}

tr th {
    border-bottom: solid lightblue 1px;
    color: lightslategray;
    background-color: rgba(187, 187, 187, 0.205);
    padding: 5px 10px;
    /* margin-top: 5px; */
}

tr td {
    padding: 10px 50px;
    border-bottom: solid lightblue 1px;
    color: lightslategray;
    background-color: white;
    /* padding: 5px 10px; */
}

td h4 {
    color: black;
    font-weight: bold;
}

h3 {
    margin-bottom: 20px;
}

.none td {
    padding: 10px 50px;
    border-bottom: solid lightblue 1px;
    border: none;
    color: lightslategray;
    background-color: white;
}

.card3 {
    background: white;
    border: 16px;
    border-radius: 8px;
    padding: 10px 8px;


}

.btn4 {
    background-color: rgba(0, 128, 128, 0.411);
    padding: 3px 10px;
    border-radius: 15px;
    border: none;
    justify-content: center;
    align-items: center;
    /* margin-left: 10px; */
}

.btn5 {
    background-color: rgba(255, 166, 0, 0.411);
    padding: 3px 10px;
    border-radius: 15px;
    border: none;
    justify-content: center;
    align-items: center;
}

.btn6 {
    background-color: rgba(0, 128, 128, 0.411);
    padding: 3px 10px;
    border-radius: 15px;
    border: none;
    justify-content: center;
    align-items: center;
}

.btn7 {
    background-color: rgba(255, 0, 0, 0.411);
    padding: 3px 10px;
    border-radius: 15px;
    border: none;
    justify-content: center;
    align-items: center;
}

span1 {
    color: blue;
    font-weight: bold;
}

span2 {
    color: red;
    font-weight: bold;
}

.none2 td {
    border: none;

}
